In [202]:
import pandas as pd

In [250]:
file = pd.read_csv('/filename.csv')

In [251]:
def is_offer(row):
    if row['current_status.1'] == 'Hired' or row['current_status.1'] == 'Offer':
        val = 1
    else:
        val = 0
    return val

file['is_offered'] = file.apply(is_offer, axis=1)

# 'Hoboken, NJ, USA', 1
# 'San Bruno, CA, USA', 2
# 'Detroit, MI, USA', 3
# 'Madison Heights, MI, USA', 4
# 'Omaha, NE, USA', 5
# 'Charlestown, MA, USA', 6

def is_hoboken(row):
    if row['primary_location'] == 'Hoboken, NJ, USA':
        val = 1
    else:
        val = 0
    return val

def is_sb(row):
    if row['primary_location'] == 'San Bruno, CA, USA':
        val = 1
    else:
        val = 0
    return val

def is_d(row):
    if row['primary_location'] == 'Detroit, MI, USA' or row['primary_location'] == 'Madison Heights, MI, USA':
        val = 1
    else:
        val = 0
    return val

def is_o(row):
    if row['primary_location'] == 'Omaha, NE, USA':
        val = 1
    else:
        val = 0
    return val

def is_b(row):
    if row['primary_location'] == 'Charlestown, MA, USA':
        val = 1
    else:
        val = 0
    return val

file['is_hoboken'] = file.apply(is_hoboken, axis=1)
file['is_sb'] = file.apply(is_sb, axis=1)
file['is_d'] = file.apply(is_d, axis=1)
file['is_o'] = file.apply(is_o, axis=1)
file['is_b'] = file.apply(is_b, axis=1)

In [146]:
# labels = file['candidate_source'].astype('category').cat.categories.tolist()
# replace_map_comp = {'candidate_source' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
# replace_map_comp

{'candidate_source': {'Achieveyour.com': 1,
  'AngelList': 2,
  'BIYRfest ': 3,
  'BRAG': 4,
  'CSpec Event': 5,
  'CSpec Microsite': 6,
  'Campus Career Fair': 7,
  'Campus Posting': 8,
  'Contractor Conversion': 9,
  'Event': 10,
  'Glassdoor': 11,
  'Indeed': 12,
  'Internal Applicant': 13,
  'Internal Applicant- Jet': 14,
  'Internal Applicant- Walmart': 15,
  'Jet': 16,
  'Job fairs/Conferences/Trade shows': 17,
  'Jobs page on your website': 18,
  'Linear Search': 19,
  'LinkedIn (Ad Posting)': 20,
  'LinkedIn (Prospecting)': 21,
  'LinkedIn (Social Media)': 22,
  'Maildrop': 23,
  'Other': 24,
  'Pyramid Consulting': 25,
  'Referral': 26,
  'Referral from Walmart Employee': 27,
  'Social media presence': 28,
  'Source-A-Thon ': 29,
  'Talener': 30,
  'TalentRise': 31,
  'Temporary Campus': 32,
  'Uncubed': 33}}

In [252]:
columns_to_keep = [
    'job_title',
    'primary_location',
    'job_location',
    'current_status.1',
    'is_offered',
    'is_hoboken',
    'is_sb',
    'is_d',
    'is_b'
]

feature_cols = [
    'is_hoboken',
    'is_sb',
    'is_d',
    'is_b'
]

file.head()

,source_system,job_id,application_id,opened_date,closed_date,cancelled_date,req_approved_date,created_at,open_status,closed_status,...,base_comp_offered,sign_on_offered,rsu_offered,job_location,is_offered,is_hoboken,is_sb,is_d,is_o,is_b
0,Greenhouse,563024,77997448,9/6/2017,9/11/2018,9/11/2018,9/6/2017,9/6/2017,1,1.0,...,NaN,NaN,NaN,NaN,0,1,0,0,0,0
1,Greenhouse,467303,64158963,5/9/2017,10/26/2018,10/26/2018,5/9/2017,5/9/2017,1,1.0,...,NaN,NaN,NaN,NaN,0,1,0,0,0,0
2,Greenhouse,851998,107936610,8/28/2018,NaN,NaN,8/28/2018,8/28/2018,1,NaN,...,NaN,NaN,NaN,NaN,0,1,0,0,0,0
3,Greenhouse,563024,69074136,9/6/2017,9/11/2018,9/11/2018,9/6/2017,9/6/2017,1,1.0,...,NaN,NaN,NaN,NaN,0,1,0,0,0,0
4,Greenhouse,851998,102047283,8/28/2018,NaN,NaN,8/28/2018,8/28/2018,1,NaN,...,NaN,NaN,NaN,NaN,0,1,0,0,0,0

In [207]:
# file.replace(replace_map_comp, inplace = True)

In [208]:
# file['candidate_source'].fillna(0, inplace = True)

In [253]:
file2 = file[columns_to_keep]

In [254]:
df = pd.DataFrame(file2)

In [255]:
df = df[~df['job_title'].str.contains('Lead')]

In [256]:
x = df[feature_cols]
y = df.is_offered

In [257]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = .1, random_state = 5)

In [258]:
from sklearn.linear_model import LogisticRegression

In [259]:
logreg = LogisticRegression(class_weight = 'balanced')
logreg.fit(x_train, y_train)
y_pred = logreg.predict(x_test)

C:\Users\maxwell.lee\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [260]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[1081,  635],
       [  72,   70]], dtype=int64)

In [241]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))

Accuracy: 0.6194833153928956
Precision: 0.09929078014184398
Recall: 0.49295774647887325

In [261]:
y_pred_proba = logreg.predict_proba(x_test)[::,1]
fpr, tpr, _ = metrics.roc_curve(y_test,  y_pred_proba)
auc = metrics.roc_auc_score(y_test, y_pred_proba)

In [262]:
auc

0.5644062510259694

In [263]:
logreg.coef_

array([[-0.58297139, -0.0373347 , -0.72377512, -0.79069622]])

In [264]:
feature_cols

['is_hoboken', 'is_sb', 'is_d', 'is_b']